@using BrokenCode.Etc

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="User" asp-action="Index">
        <input type="button" class="btn btn-primary" value="Users"/>
    </a>
    <a asp-controller="Report" asp-action="Index">
        <input type="button" class="btn btn-primary" value="Show Report"/>
    </a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>